#paneMenu {
    -fx-background-color: #ebebed;
    -fx-border-radius: 0 50px 50px 0; /* solo las esquinas derecha superior e inferior */
    -fx-background-radius: 0 50px 50px 0; /* aplicar el mismo radio de esquina al fondo */
    -fx-padding: 10px; /* margen interno para el contenido */
    /*-fx-pref-height: 150px; /* altura preferida del pane */
    /*-fx-pref-width: 150px; /* anchura preferida del pane */
}

#btnGastos,#btnIngresos,#btnHome{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border: 0px;
    -fx-background-color: #ebebed;
}


#btnGastos:hover,#btnIngresos,#btnHome:hover{
    -fx-background-color: white;
    -fx-border-width: 0px 0px 0px 4px;
    -fx-border-color: #f538ff;
}

#paneNumeroGastos{
    -fx-background-color: #ebebed;
    /*bordes de varios colores*/
    -fx-border-color:linear-gradient(to right, #f547c9,#1432f7);
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-radius: 50px 50px 50px 50px; /* todas las esquinas y bordes */
    -fx-background-radius: 50px 50px 50px 50px;
    -fx-padding: 10px; /* margen interno para el contenido */
}

#btnTeclado1:hover,#btnTeclado2:hover,#btnTeclado3:hover,#btnTeclado4:hover,#btnTeclado5:hover,#btnTeclado6:hover,#btnTeclado7:hover,#btnTeclado8:hover,#btnTeclado9:hover,#btnTeclado0:hover,#btnTecladoComa:hover,#btnTecladoDelete:hover{
    -fx-background-color: linear-gradient(to right, #EED3F3,#C4E8FB);
}
#btnTeclado1,#btnTeclado2,#btnTeclado3,#btnTeclado4,#btnTeclado5,#btnTeclado6,#btnTeclado7,#btnTeclado8,#btnTeclado9,#btnTeclado0,#btnTecladoComa,#btnTecladoDelete{
    -fx-background-color:white;
}

#cboxCategorias{
    -fx-background-color:linear-gradient(to right, #C6F7F9,#0928e6);
    -fx-prompt-text-fill: #FFF;
    /*bordes de varios colores*/
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-radius: 50px 50px 50px 50px; /* todas las esquinas y bordes */
    -fx-background-radius: 50px 50px 50px 50px;
    -fx-padding: 10px; /* margen interno para el contenido */
}

#btnAnyadirGasto:hover{
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-radius: 50px 50px 50px 50px; /* todas las esquinas y bordes */
    -fx-background-radius: 50px 50px 50px 50px;
    -fx-padding: 10px; /* margen interno para el contenido */
    -fx-blackground-color:linear-gradient(to right, black,white);

}
#btnAnyadirGasto:pressed{
    -fx-blackground-color:linear-gradient(to right, pink,yellow);
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-radius: 50px 50px 50px 50px; /* todas las esquinas y bordes */
    -fx-background-radius: 50px 50px 50px 50px;
}
#btnAnyadirGasto{
    -fx-blackground-color:linear-gradient(to right, #4058ed,#0928e6);
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-radius: 50px 50px 50px 50px; /* todas las esquinas y bordes */
    -fx-background-radius: 50px 50px 50px 50px;
}




