#paneMenu {
    -fx-background-color: #ebebed;
    -fx-border-radius: 0 50px 50px 0; /* solo las esquinas derecha superior e inferior */
    -fx-background-radius: 0 50px 50px 0; /* aplicar el mismo radio de esquina al fondo */
    -fx-padding: 10px; /* margen interno para el contenido */
    /*-fx-pref-height: 150px; /* altura preferida del pane */
    /*-fx-pref-width: 150px; /* anchura preferida del pane */
}
#tableMovimientos{
  -fx-background-color: #ebebed;
    -fx-border-radius: 15px 15px 15px 15px;
    -fx-background-radius:15px 15px 15px 15px;
    -fx-padding: 10px; /* margen interno para el contenido */
}

#btnGastos,#btnIngresos,#btnHome{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border: 0px;
    -fx-background-color: #ebebed;
}

#btnGastos:hover,#btnIngresos:hover,#btnHome{
    -fx-background-color: white;
    -fx-border-width: 0px 0px 0px 4px;
    -fx-border-color: #f538ff;

}

#paneSaldo{
    -fx-background-color: linear-gradient(to right, #CC94D6,#309DD8);
    -fx-border-radius: 15px 15px 15px 15px;
    -fx-background-radius:15px 15px 15px 15px;
}
#lblSaldo,#lblResumenGastos,#lblResumenIngresos,#lblNumeroGastos,#lblNumeroIngresos{
    -fx-text-align:center;
    -fx-text-fill: white;
    -fx-font-weigth:bold;
}

#paneResumGastos{
    -fx-background-color: linear-gradient(to right, #f6e3fa,#e598f5);
    -fx-border-radius: 15px 15px 15px 15px;
    -fx-background-radius:15px 15px 15px 15px;
}
#paneResumIngresos{
    -fx-background-color: linear-gradient(to right, #deeefa,#8faef2);
    -fx-border-radius: 15px 15px 15px 15px;
    -fx-background-radius:15px 15px 15px 15px;
}

